<head>
    <meta charset="utf-8"/>
    <title><{$info['title']??($title ? $title : $sys.title)}></title>
    <meta name="keywords" content="<{$info['keywords']??($keywords ? $keywords : $sys.key)}>"/>
    <meta name="description" content="<{$info['description']??($description ? $description : $sys.des)}>"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.css">
    <link rel="stylesheet" href="/static/home/css/new-static.css">
    <link rel="stylesheet" href="/static/common/iconfont/iconfont.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.0-beta.31/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.2/lazysizes.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="/static/home/js/delighters.min.js"></script>
    <script src="/static/home/js/ckplayer/ckplayer.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font: normal 14px/20px Avenir, arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;
            color: #444;
        }

        .main-container {
            width: 960px;
            margin: 0 auto;
        }
    </style>
</head>
<body>